body,
html {
  margin: 0;
}

.App {
  display: flex;
  height: 100vh; /* temporary */
  font-size: 2rem;
}

.App > :last-child {
  flex-grow: 1;
  background-color: whitesmoke;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 2px solid lightgray;
  padding: 20px;
  padding-right: 60px;
  gap: 20px;
}

.navBar>* {
    padding: 20px 0px;
}

.navBar> * > * {
    display: flex;
    align-items: flex-end;
}
.navBar>:last-child {
    position: absolute;
    bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
