.Home {
  display: grid;
  grid-template-columns: 1fr 5fr 4fr;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}

/* FOLLOWER'S STORIES */

.storiesContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20vh;
  position: relative;
}

.storiesWrapper {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 10px;
  width: 36rem;
  gap: 10px;
  padding: 15px 0px;
  position: relative;
}

.storiesWrapper > :first-child {
  padding-left: 10px;
}

.storiesContainer > button {
  background-color: beige;
  border: beige;
  border-radius: 50%;
  font-weight: bold;
  padding: 5px 10px;
}

.storiesPrevBtn {
  position: absolute;
  left: 10px;
  z-index: 1;
}

.storiesNextBtn {
  position: absolute;
  right: 10px;
  width: min-content;
  z-index: 1;
}

.follower {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  max-width: 80px;
  transition: 0.2s;
}

.followerImg {
  display: flex;
  align-content: center;
  justify-content: center;
  background: linear-gradient(45deg, yellow, red, purple);
  border-radius: 100%;
  padding: 4px;
}
.followerImg > img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 3px;
  background-color: white;
}

/* FEED */
.posts > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 36rem;
  background-color: white;
}
.post {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.postInfo {
  display: flex;
  align-items: center;
}

.postInfo > :last-child {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.post > :first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 10px 0px;
}
.post > :first-child > :last-child {
  display: flex;
  align-content: center;
  justify-content: center;
}

.post > :first-child > :first-child > img {
  height: 50px;
  border-radius: 50%;
}

.post > img {
  width: 100%;
  height: 100%;
}

.followersNextBtn {
  position: absolute;
}

.postDescrip {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.postNavBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
}

.postNavBar > :first-child {
  display: flex;
  padding-left: 10px;
  gap: 10px;
}

.postNavBar > :last-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.postLikes {
  display: flex;
  gap: 10px;
  padding-left: 15px;
}

.postCaption {
  padding: 10px 15px;
}

.postComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

.postComment > input {
  border: none;
  font-size: 20px;
  background-color: transparent;
  font-weight: bold;
}
.postComment > input::placeholder {
  color: rgb(0, 0, 0, 0.4);
}
input:focus {
  outline: none;
}
.postComment > * {
  padding: 20px;
}

.postComment > *:hover {
  opacity: 1;
}

.postComment button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: dodgerblue;
  font-weight: bold;
  opacity: 0.4;
}
/* RIGHT DIV */
.rightDiv {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 25rem;
}

.rightDiv > * button {
  align-items: flex-end;
  border: none;
  background-color: transparent;
  color: dodgerblue;
  font-size: large;
  font-weight: 600;
}

.rightDiv > :first-child > * img {
  width: 70px;
  border-radius: 50%;
}

.suggestSwitchAcc {
  display: flex;
  flex: 1;
  gap: 15px;
}
.suggestSwitchAcc > :last-child > :first-child {
  font-weight: bold;
}

.suggestSwitchAcc > :last-child > :last-child {
  color: gray;
  font-weight: bold;
}
.suggestSwitchAcc > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.suggestions > * {
  padding: 10px 0px;
}

.suggestionFollowers > :first-child {
  display: flex;
  gap: 15px;
  flex: 1;
}

.suggestionFollowers > * img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.suggestions > *,
.rightDiv > :first-child {
  display: flex;
  justify-content: space-between;
}

.suggestionFollowers > :first-child > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.suggestFollowerName {
  font-weight: bold;
}
.suggestFollowerName + div {
  color: gray;
  font-size: 15px;
  font-weight: bold;
}
