.postPage {
  display: grid;
  grid-template-columns: 1fr 8fr;
  justify-content: center;
}

.createPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 700px;
  height: 600px;
  margin: auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.createPost span {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid lightgray;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
}

.createPost form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 0px 0px 15px 15px;
}
.createPost:hover {
  cursor: default;
}
.customUpload {
  background-color: dodgerblue;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 10px;
}

.createPost button:hover {
  cursor: pointer;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.imgPreviewWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 80%;
  border-bottom: 2px solid lightgray;
  position: relative;
}

.imgEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}
.imgEdit>:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  flex-grow: 1;
}
.captionInput {
  width: 75%;
  height: 100%;
  margin-bottom: auto;
  border: none;
  font-size: 20px;
  margin-top: 5px;
  resize: none;
}

.postBtn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  color: dodgerblue;
  padding: 5px;
  opacity: .8;
}
.postBtn:hover {
  opacity: 1;
}

.imgEditFinal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
.imgEditFinal span {
  position: absolute;
  top: 0;
  animation-name: textJump;
  animation-duration: .4s;
  border-bottom: none;
}
.imgEditFinal button {
  border: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 20px;
  bottom: 10px;
  position: absolute;
}
.imgEditFinal canvas {
  background: linear-gradient(45deg, yellow, red, purple);
  border-radius: 2%;
  padding: 4px;
}
@keyframes textJump {
  0% {
    font-size: 15px;
  }
  50%{
    font-size: 35px;
  }
  100% {
    font-size:30px;
  }
}

@keyframes loading {
  to {transform: rotate(360deg);}
}

.loading {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: loading 1s ease-in-out infinite;
  background: linear-gradient(60deg, yellow, red, purple);
  padding: 6px;
}

.loading div {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}